* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--secondary-color);
    font-family: Helvetica, Arial, sans-serif;
}

header {
    padding: 10px 35px 70px 35px;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
}

.high-score-link {
    color: blueviolet;
}

.heading {
    font-size: 35px;
}

.question-heading {
    font-size: 22px;
}

.hero p {
    font-size: 20px;
}

.hero button {
    color:white;
    background-color: blueviolet;
    padding: 5px 10px;
    font-size: 20px;
    border-radius: 12px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: auto;
    justify-items: center;

    text-align: center;
}

.center-column {
    grid-column: 2/3;
}

#hero-paragraph {
    padding: 20px 10px 20px 10px;
}

.answer-button {
    grid-column: 2/3;
    color:white;
    background-color: blueviolet;
    padding: 5px 10px;
    font-size: 20px;
    border-radius: 12px;
}

#button-1 {
    grid-row: 2/3;
}

#button-2 {
    grid-row: 3/4;
}

#button-3 {
    grid-row: 4/5;
}

#button-4 {
    grid-row: 5/6;
}

.button-grid {
    justify-items: left;
    grid-gap: 10px;
}
